#top #wrap_all .avia-slideshow .av-slideshow-caption.av-d129ci-0aa69bad9b724471bf770c87464b5707__0 .avia-caption-title{
font-size:44px;
color:#444444;
}
#top .avia-slideshow .av-slideshow-caption.av-d129ci-0aa69bad9b724471bf770c87464b5707__0 .avia-caption-content{
font-size:20px;
color:#888888;
}
#top .avia-slideshow .av-slideshow-caption.av-d129ci-0aa69bad9b724471bf770c87464b5707__0 .avia-caption-content p{
font-size:20px;
}
#top #wrap_all .avia-slideshow .av-slideshow-caption.av-d129ci-0aa69bad9b724471bf770c87464b5707__1 .avia-caption-title{
font-size:44px;
color:#444444;
}
#top .avia-slideshow .av-slideshow-caption.av-d129ci-0aa69bad9b724471bf770c87464b5707__1 .avia-caption-content{
font-size:20px;
color:#888888;
}
#top .avia-slideshow .av-slideshow-caption.av-d129ci-0aa69bad9b724471bf770c87464b5707__1 .avia-caption-content p{
font-size:20px;
}

.flex_cell.av-cd3ua2-38bbd1f4120d60f247ae1276004b9ab2{
vertical-align:top;
background-color:#2388c2;
}
.responsive #top #wrap_all .flex_cell.av-cd3ua2-38bbd1f4120d60f247ae1276004b9ab2{
padding:9px 0px 0px 0px !important;
}

.flex_cell.av-c65y4y-ab66df3fe60f4988046b298a2d9f17a5{
vertical-align:top;
background-color:#5fb4e4;
}
.responsive #top #wrap_all .flex_cell.av-c65y4y-ab66df3fe60f4988046b298a2d9f17a5{
padding:9px 0px 0px 0px !important;
}

#top .flex_column_table.av-equal-height-column-flextable.av-brd06i-d9d7f7ae2dbdd283654983236d128696{
margin-top:-200px;
margin-bottom:0px;
}
.flex_column.av-brd06i-d9d7f7ae2dbdd283654983236d128696{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:40px 40px 40px 40px;
background-color:#2388c2;
}

.av_font_icon.av-bpvhhe-53e890bdc74f9047161296a116a600a2{
color:#ffffff;
border-color:#ffffff;
}
.av_font_icon.av-bpvhhe-53e890bdc74f9047161296a116a600a2 .av-icon-char{
font-size:60px;
line-height:60px;
}

#top .hr.hr-invisible.av-bip6ve-d11416aae2cee8d27bf67efc13307e3b{
height:20px;
}

#top .av_textblock_section.av-bege3m-1b0c4d72bfcd954d078c3fd4f866ac99 .avia_textblock{
color:#ffffff;
}

#top .hr.hr-invisible.av-b4p1ya-de987e2bb51752fad4599c44e62fd93c{
height:8px;
}

#top .flex_column_table.av-equal-height-column-flextable.av-atsvwa-d6d7d152b660ba141d9a383cb438c522{
margin-top:-200px;
margin-bottom:0px;
}
.flex_column.av-atsvwa-d6d7d152b660ba141d9a383cb438c522{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:40px 40px 40px 40px;
background-color:#379cd6;
}

.av_font_icon.av-an157e-aa7945f1c46a2f802e69d1d8be9cfc30{
color:#ffffff;
border-color:#ffffff;
}
.av_font_icon.av-an157e-aa7945f1c46a2f802e69d1d8be9cfc30 .av-icon-char{
font-size:60px;
line-height:60px;
}

#top .hr.hr-invisible.av-airjvu-3daaf196af2d77ebd294a3fa93f29e5c{
height:20px;
}

#top .av_textblock_section.av-aefjde-b3a25de01ab1846ec45d629d845000db .avia_textblock{
color:#ffffff;
}

#top .hr.hr-invisible.av-a5xeje-f4b0c012b8546583b30b6bcf6458b8c6{
height:8px;
}

#top .flex_column_table.av-equal-height-column-flextable.av-9ur522-0288563de61887b9e267bc87318ef951{
margin-top:-200px;
margin-bottom:0px;
}
.flex_column.av-9ur522-0288563de61887b9e267bc87318ef951{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:40px 40px 40px 40px;
background-color:#5fb4e4;
}

.av_font_icon.av-9o0lkq-519037b35766dfcbf97bb48e9b7be738{
color:#ffffff;
border-color:#ffffff;
}
.av_font_icon.av-9o0lkq-519037b35766dfcbf97bb48e9b7be738 .av-icon-char{
font-size:60px;
line-height:60px;
}

#top .hr.hr-invisible.av-9iq20a-5c9cd07c42aa296ddb42c16f12c0e9aa{
height:20px;
}

#top .av_textblock_section.av-9df63e-b450832bbe8417ea3549cb83b6bd7492 .avia_textblock{
color:#ffffff;
}

#top .hr.hr-invisible.av-wzf62-c5ca7ef781ca7a0042b6804b080b324b{
height:8px;
}

#top .hr.hr-invisible.av-8w1ebe-6a6ab9cf03309c5ca77767cbc52beeea{
height:100px;
}

.flex_column.av-8b6lrm-99848f7af98dad785afd0f3553350686{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-7zdwey-fe566e2b5d88bcbede0a23162202022c{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-riu0a-823d25767ee21672e811918b055651cc{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.av-7anguy-2879e0ea7c6e58daf98fa5a08061db36{
margin-top:70px;
margin-bottom:70px;
}
.hr.av-7anguy-2879e0ea7c6e58daf98fa5a08061db36 .hr-inner{
width:50px;
border-color:#40a8e4;
}

.flex_column.av-759h2a-5405f17028f4f8306789c739e88e20e0{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-2imlm-d0525e6b4a338f60a8444c3b08798f42{
padding-bottom:20px;
font-size:34px;
}
body .av-special-heading.av-2imlm-d0525e6b4a338f60a8444c3b08798f42 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-2imlm-d0525e6b4a338f60a8444c3b08798f42 .av-special-heading-tag{
font-size:34px;
}
.av-special-heading.av-2imlm-d0525e6b4a338f60a8444c3b08798f42 .av-subheading{
font-size:15px;
}

.flex_column.av-6qte2i-a2c84784cd5487fc392b4fc93d11ef0d{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-6kkyle-0418694eb01c47dbdb54dae9d2151c66{
padding-bottom:20px;
font-size:34px;
}
body .av-special-heading.av-6kkyle-0418694eb01c47dbdb54dae9d2151c66 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-6kkyle-0418694eb01c47dbdb54dae9d2151c66 .av-special-heading-tag{
font-size:34px;
}
.av-special-heading.av-6kkyle-0418694eb01c47dbdb54dae9d2151c66 .av-subheading{
font-size:15px;
}

.flex_cell.av-63n7z6-ad2cde0003223afb446b6805b3c2f325{
vertical-align:middle;
background-color:#2388c2;
}
.responsive #top #wrap_all .flex_cell.av-63n7z6-ad2cde0003223afb446b6805b3c2f325{
padding:80px 50px 80px 50px !important;
}

#top .avia-animated-number.av-5tnz3u-8dd92dd4895de8bf749c2deed0c751e0 .avia-animated-number-title{
font-size:34px;
color:#ffffff;
}
#top .avia-animated-number.av-5tnz3u-8dd92dd4895de8bf749c2deed0c751e0 .avia-animated-number-content{
font-size:20px;
}

.flex_cell.av-krh7e-1b68e92e206ad073240ed0ff93270784{
vertical-align:middle;
background-color:#379cd6;
}
.responsive #top #wrap_all .flex_cell.av-krh7e-1b68e92e206ad073240ed0ff93270784{
padding:80px 50px 80px 50px !important;
}

#top .avia-animated-number.av-5kal9u-2aea40b5dd58a5a005838d1eff5dd790 .avia-animated-number-title{
font-size:34px;
color:#ffffff;
}
#top .avia-animated-number.av-5kal9u-2aea40b5dd58a5a005838d1eff5dd790 .avia-animated-number-content{
font-size:20px;
}

.flex_cell.av-5b6gru-d1f8aa1bc7644d3148141b3dfbb246ce{
vertical-align:middle;
background-color:#5fb4e4;
}
.responsive #top #wrap_all .flex_cell.av-5b6gru-d1f8aa1bc7644d3148141b3dfbb246ce{
padding:80px 50px 80px 50px !important;
}

#top .avia-animated-number.av-5605ze-caa38cc1066b76c174deb80975be66bb .avia-animated-number-title{
font-size:34px;
color:#ffffff;
}
#top .avia-animated-number.av-5605ze-caa38cc1066b76c174deb80975be66bb .avia-animated-number-content{
font-size:20px;
}

.flex_cell.av-id3my-dacd0a2e691fe4eda7737dcd92ff1ee3{
vertical-align:middle;
background-color:#80c7ef;
}
.responsive #top #wrap_all .flex_cell.av-id3my-dacd0a2e691fe4eda7737dcd92ff1ee3{
padding:80px 50px 80px 50px !important;
}

#top .avia-animated-number.av-4vsy2q-f15f4084a4e5a063da37a52f88df7382 .avia-animated-number-title{
font-size:34px;
color:#ffffff;
}
#top .avia-animated-number.av-4vsy2q-f15f4084a4e5a063da37a52f88df7382 .avia-animated-number-content{
font-size:20px;
}

.flex_cell.av-4lumdu-87a1b9ecf5637ae162878a555082a5d5{
vertical-align:middle;
height:500px;
min-height:500px;
background:url(http://localhost/wordpress/Enfold/wp-content/uploads/2016/02/hospital.jpg) 50% 50% no-repeat scroll #22689e;
}
.responsive #top #wrap_all .flex_cell.av-4lumdu-87a1b9ecf5637ae162878a555082a5d5{
padding:0px 0px 0px 0px !important;
}

.flex_cell.av-4gcn2i-ecef914252f43cf4d4b8d65da34b9db4{
vertical-align:middle;
height:500px;
min-height:500px;
background-color:#22689e;
}
.responsive #top #wrap_all .flex_cell.av-4gcn2i-ecef914252f43cf4d4b8d65da34b9db4{
padding:80px 80px 80px 80px !important;
}

#top .av-special-heading.av-f5jwy-456f55012edbb15ab5a10a4876e4abd2{
padding-bottom:25px;
color:#ffffff;
font-size:34px;
}
body .av-special-heading.av-f5jwy-456f55012edbb15ab5a10a4876e4abd2 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-f5jwy-456f55012edbb15ab5a10a4876e4abd2 .av-special-heading-tag{
font-size:34px;
}
.av-special-heading.av-f5jwy-456f55012edbb15ab5a10a4876e4abd2 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-f5jwy-456f55012edbb15ab5a10a4876e4abd2 .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-43f8fu-ef75ede40ad21e5d5784d0fa723d3efa .avia_textblock{
color:#ffffff;
}

#top .flex_column_table.av-equal-height-column-flextable.av-dgw9u-35d36fd440e8f5802397f72eb66316a2{
margin-top:-200px;
margin-bottom:0px;
}
.flex_column.av-dgw9u-35d36fd440e8f5802397f72eb66316a2{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:40px 40px 40px 40px;
background-color:#2388c2;
}

.av_font_icon.av-3mw0yy-c99e6a5a2f07d865387e424ac73e5a58{
color:#ffffff;
border-color:#ffffff;
}
.av_font_icon.av-3mw0yy-c99e6a5a2f07d865387e424ac73e5a58 .av-icon-char{
font-size:60px;
line-height:60px;
}

#top .hr.hr-invisible.av-3f1qxm-23c1f19e8a64c33f7feaf365776afb39{
height:20px;
}

#top .av_textblock_section.av-39wdbm-ce15e1f999f0d0051a2923a5458b1bcb .avia_textblock{
color:#ffffff;
}

#top .hr.hr-invisible.av-3156ve-dbae94489aa59fad12c8f25cf528ae27{
height:8px;
}

#top .flex_column_table.av-equal-height-column-flextable.av-2s80de-db4d2a3b81ec776d975db86caf54d999{
margin-top:-200px;
margin-bottom:0px;
}
.flex_column.av-2s80de-db4d2a3b81ec776d975db86caf54d999{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:40px 40px 40px 40px;
background-color:#379cd6;
}

.av_font_icon.av-2liqey-b3aa2438a10d8215b3427d7c8bd5fad8{
color:#ffffff;
border-color:#ffffff;
}
.av_font_icon.av-2liqey-b3aa2438a10d8215b3427d7c8bd5fad8 .av-icon-char{
font-size:60px;
line-height:60px;
}

#top .hr.hr-invisible.av-2dhg2a-4be08f038664407c7ca51b02aa29682a{
height:20px;
}

#top .av_textblock_section.av-2aaipu-19ee0cdaf4f590f2426700636313a527 .avia_textblock{
color:#ffffff;
}

#top .hr.hr-invisible.av-22uvoq-35f3be181af938554bd2ff017828f98e{
height:8px;
}

#top .flex_column_table.av-equal-height-column-flextable.av-6b3eq-fef35d77ecced48f7c36621e284903ea{
margin-top:-200px;
margin-bottom:0px;
}
.flex_column.av-6b3eq-fef35d77ecced48f7c36621e284903ea{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:40px 40px 40px 40px;
background-color:#5fb4e4;
}

.av_font_icon.av-1krpk2-b58f71074bd87eb3b97b204a6565c940{
color:#ffffff;
border-color:#ffffff;
}
.av_font_icon.av-1krpk2-b58f71074bd87eb3b97b204a6565c940 .av-icon-char{
font-size:60px;
line-height:60px;
}

#top .hr.hr-invisible.av-1dqh1m-57ee1a2ba482d1b8b6c56ee76197708e{
height:20px;
}

#top .av_textblock_section.av-19xu2a-0895f9004834891b2a9cafad68ee3e7e .avia_textblock{
color:#ffffff;
}

#top .hr.hr-invisible.av-10ol5e-c22a1975396c6accde07fd6a380d9f57{
height:8px;
}

#top .hr.hr-invisible.av-oialm-5290b992710b059e7f664e6ae7a635c9{
height:90px;
}

.flex_column.av-ijm7e-3a5455d756ba17b7bd55774376dc712a{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-gwfsy-811b1e1a3ef61bd6616cb5fb82bba583{
padding-bottom:20px;
font-size:34px;
}
body .av-special-heading.av-gwfsy-811b1e1a3ef61bd6616cb5fb82bba583 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-gwfsy-811b1e1a3ef61bd6616cb5fb82bba583 .av-special-heading-tag{
font-size:34px;
}
.av-special-heading.av-gwfsy-811b1e1a3ef61bd6616cb5fb82bba583 .av-subheading{
font-size:15px;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-2imlm-d0525e6b4a338f60a8444c3b08798f42 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-6kkyle-0418694eb01c47dbdb54dae9d2151c66 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-f5jwy-456f55012edbb15ab5a10a4876e4abd2 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-gwfsy-811b1e1a3ef61bd6616cb5fb82bba583 .av-special-heading-tag{
font-size:0.8em;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-2imlm-d0525e6b4a338f60a8444c3b08798f42 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-6kkyle-0418694eb01c47dbdb54dae9d2151c66 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-f5jwy-456f55012edbb15ab5a10a4876e4abd2 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-gwfsy-811b1e1a3ef61bd6616cb5fb82bba583 .av-special-heading-tag{
font-size:0.8em;
}
}
